[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "libs/libtiff"]
	path = libs/libtiff
	url = https://gitlab.com/libtiff/libtiff.git
[submodule "libs/cppflow"]
	path = libs/cppflow
	url = https://github.com/serizba/cppflow
[submodule "libs/gif-h"]
	path = libs/gif-h
	url = https://github.com/charlietangora/gif-h
